body {
  background-image: url("https://wallpapercave.com/wp/wp2578580.jpg");
}
/* On smaller resolutions, hide the text for Large screens */
@media only screen and (max-width: 580px) {
  .largeScreen {
    display: none;
  }
}

/* On larger resolutions, hide the text for Small screens */
@media only screen and (min-width: 580px) {
  .smallScreen {
    display: none;
  }
}